!!!
html
    head
        title= "Chat.io"
        script(src='/chat.js')
        script(src='/socket.io/socket.io.js')
        link(rel='stylesheet', href='/reset.css')
        link(rel='stylesheet', href='/page.css')
        link(rel='stylesheet', href='/animate.css')
    body
        .chat-container
            .top-bar chat.io <span>&#59168;</span>
            #content
            .controls
                input#field(placeholder="Send a message...")
                input#send(type='button', value='send')